<h2>To view the Lesson of the Month, you must either sign up, or log in.</h2>
<p>&nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp;</p>
<p><a href="richstitzelmusic.com/pages/memberships"><img src="https://cdn.shopify.com/s/files/1/1408/0722/files/button_sign-up.png?15199307465050297230" alt="" width="126" height="44" /></a>&nbsp; &nbsp;<a href="https://richstitzelmusic.com/account/login"><img src="https://cdn.shopify.com/s/files/1/1408/0722/files/button_log-in_aa43fecb-350b-4d8d-9f06-f7561dc9871a.png?15199307465050297230" alt="" width="105" height="44" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>...and then select your level of membership to enter:</h2>
<p><img src="https://cdn.shopify.com/s/files/1/1408/0722/files/step_2-01_acc53a8a-2e23-4893-afb3-7e365e79a053.jpg?2497523295313447966" alt="" width="487" height="183" />&nbsp;</p>
<p><br class="Apple-interchange-newline" /><br /></p>