<p>Oh no! To view the LESSON OF THE MONTH, you must register. (Don't worry, it's totally free).</p>
<p>You can gain access to this page by&nbsp;<a href="https://richstitzelmusic.com/pages/memberships">CLICKING HERE</a>&nbsp;and joining The Lesson of the Month Club.</p>