
<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->
<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>
